<nav class="navbar navbar-expand-lg " style="background-color: orangered;">
    <a class="navbar-brand" href="/" style=" color: rgb(13, 0, 56); font-weight: bold">
        home
    </a>

</nav>
<br />